label {
  text-transform: capitalize;
  padding-right: 30px;
  padding-left: 40px;
}

button {
  margin-left: 60px;
}

input[type="checkbox"] {
  -webkit-transform: scale(1.1);
}

form {
  display: list-item;
  padding-left: 190px;
}
